# .gitignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.so
*.egg
*.egg-info/
dist/
build/
*.tar.gz
*.log
*.pot
*.pyc
*.pyo
*.orig
*.rej
*.swp
*.DS_Store
.ipynb_checkpoints/
.vscode/
.idea/
*.sqlite3